body {
  background: black;
  color:  #c8b9b9;
  overflow: hidden;
}

.clock {
  display: flex;
  flex-direction: row;
  color: #ff3232;
}

.time {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.colon {
  margin-left: 30px;
  margin-right: 30px;
}

.clockplusdesc {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}

.orbitron-400 {
  font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 4vw;
}

.days-till-fuga {
  position: absolute;
  bottom: 0;
}
